{% extends "base.html" %}
{% block title %} Acerca de {% endblock %}
{% block content %}
<main>
    <!-- About Us -->
    <div class="img-acercade">
    <section class="about-us">
        <div class="info">
            <h3 class="about-us__title">Equipo de trabajo</h3>
            <p class="about-us__team">Edwin Polo</p>
            <p class="about-us__team">Roy Rojas</p>
            <p class="about-us__team">Carlos Castaño</p>
            <p class="about-us__team">Yesid Robles</p>
            <p class="about-us__team">Luis Castro</p>
            <hr class="about-us__hr">
        </div>
    </section>
    </div>
</main>
      
{% endblock %}
{% block js %}
{% endblock %}