{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container-login">
    <form action="" class="form-box" method="POST">
        <p class="container-login_title__one">¿Eres Admin?</p>
        <p class="container-login_title__two">Inicia Session</p>
        <input  class="btn-username__login" type="text"  id="_texto_U_Input" name="username" placeholder="Username">
        <input  class="btn-passw__login" type="password" id="_texto_P_Input" name="password" placeholder="Password">
        <button class="btn-submit__login" type="submit"  name="btn" value="1">Login</button>
    </form>
</div>
{% endblock %}
{% block js %}
{% endblock %}