*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-yellow: #f8b30e;
    --color-border-btn: #3742fa;
    --color-fondo-btn:#5352ed;
    --color-fondo-login-mobile:#000;
    --color-fondo-footer:#000;
    --color-letras-footer:#fff;
    --color-fondo-acercade-tablet:#000;
    --color-fondo-acercade-mobile:#000;
    --color-letras-nav-menu:#fff;
    /* Color para los fondos que por defecto son blancos */
    --color-fondos:#ededed;
  }
body{
    background: var(--color-white);;
    font-family: 'Lora', serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Pagina BASE (para todo el sitio) */
/** Navegation Menu **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:9999;
}
.btn-menu{display: none;}
.menu .logobox{margin-left: 30px;}
.menu .logobox h1 > a{
    text-decoration: none;
    color:var(--color-yellow);
    font-size: 20px;
    font-weight: 400;
}

.menu .logobox h1 > a > i{color:var(--color-yellow); margin-right: 10px;}
.menu .list-container{margin-right: 30px;}
.menu .list-container .lists{display: flex;}
.menu .list-container .lists li{list-style: none;}
.menu .list-container .lists li a{
    text-decoration: none;
    color:var(--color-white);
    font-size: 19px;
    margin:0px 7px;
    padding: 5px;
    border-radius: 3px;
    transition: 300ms;
}

.menu .list-container .lists li a:hover{color:var(--color-yellow);}
.menu .list-container .lists li a.active{color:var(--color-yellow);}


/* --------------------------------Pagina Index */
/** Img header **/
.img-header{
    background: url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: soft-light;
    position: relative;
    width: 100%;
    height:100vh;
}
.img-header .welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.img-header_title_uno{
    color: var(--color-white);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.img-header_title_dos{
    margin-top: 50px;
}

/* Maquina de escribir */
.img-header_title_dos span{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    /* Aqui va la cantidad de caracteres y en step igual */
    width: 17ch;
    animation: typing 4s steps(17) infinite  alternate;
    overflow: hidden;    
}
/* Efecto maquina de escribir solo css */
@keyframes typing {
    from {width: 0; }
    to{width: 100%;}
}

/* ------------------------------------- */
.img-header_enlace i{
    width: 100%;
    text-align: center;
}
.img-header_title_dos, .img-header_enlace{
    text-decoration: none;
    color:var(--color-white);
    font-size: 50px;
    font-weight: 400;
}
.img-header_title_dos,.img-header_enlace > i{color:var(--color-yellow); margin-right: 10px;}

/* Section index */
section{
    background: var(--color-fondos);
}
.container-section__index{
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.index-video{
    text-align: center;
}
.index-video iframe{
    width:100%; 
    height:500px;
}
.index-subtitle{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.index-p{font-size: 20px; padding-bottom: 20px;}

.container-btn-index{text-align: center;}
.index-btn{
    width: 200px;
    height: 50px;
    color: #fff;
    font-size:20px ;
    border-radius: 10px;
    background: var(--color-fondo-btn);
    cursor: pointer;
    border: 2px solid #000;
}

.index-btn:hover{background: #3742fa;}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 40%;
    height: 50%;
    background: #aed0ec;
    /* overflow: hidden; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    border-radius: 10px;
}
.modal-close{
    transform: translateY(-200%);
}

.modal-texto h2{
    color: var(--color-border-btn);
}
.modal-texto p{font-size: 20px;}
.modal-texto_final{padding-bottom: 20px;}

.img-m__cont{
    width: 100%;
    height: 75%;
    padding-top: 30px;
}

/*---------------- Pagina Contact Us */
.main-contactUs{
    background: #ededed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container-form_contact{
    width: 450px;
    margin: 80px auto 40px auto;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.container-form_contact h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.container-form_contact input, .container-form_contact textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
.container-form_contact textarea{
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
}
.btn-contact{
    width: 100%;
    height: 40px;
    color: #fff;
    font-size:20px ;
    border-radius: 10px;
    background: var(--color-fondo-btn);
    cursor: pointer;
    border: 2px solid #000;
}
.btn-contact:hover{background: #3742fa;}
/** ---------------Pagina About Us **/
.about-us{width: 100%;}
.info{
    padding-top: 50px;
}
.about-us .info{
    width: 100%;
    margin-top: 60px;
    background: #000;
}
.about-us__title{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color:var(--color-yellow) ;
}
.about-us__team {
   width: 80%;
   margin:30px auto;
   text-align: center;
   color:var(--color-white);
   font-size: 20px;
   line-height: 40px;
   transition: 300ms;
}
.about-us__team:hover{color:var(--color-yellow);}

.about-us__hr{
    width: 90%;
    border:none;
    height: 2px;
    background: var(--color-yellow) ;
    margin:auto;
}


.img-acercade{
    background: #000;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100vh;
}
/* Footer **/
footer{
    background: var(--color-fondo-footer);
    width: 100%;
    height: 60px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer p {
    font-size: 22px;
    color:var(--color-letras-footer);
}

/* Login */

.container-login{
    /* background: #ededed; */
    margin-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Oswald', 'sans-serif';    
    overflow: hidden;
    background: url(../img/aboutUs-img1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
}
.form-box{
    width: 300px;
    height: 400px;
    padding: 40px;
    background: var(--color-black);
    text-align: center;
    color: var(--color-white);
    border-radius: 20px;

}

.container-login_title__two{
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 40px;
    letter-spacing: 2px;
}

.btn-username__login,
.btn-passw__login,
.btn-submit__login{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid var(--color-border-btn);
    width: 200px;
    outline: none;
    color: var(--color-white);
    border-radius: 24px;
    transition: 0.25s ;
}

.btn-username__login:focus,
.btn-passw__login:focus{
    width:280px ;
    border-color:var(--color-white) ;
    width:100%;
}

.btn-submit__login{
    border: 0;
    background: var(--color-fondo-btn);
    cursor: pointer;
    border: 2px solid var(--color-border-btn);
}

.btn-submit__login:hover{
    background: none;
    width:100%;
    font-size: 20px;
}
