{% extends "layout.html" %}
{% block title %} Pagina DashBoard {% endblock %}
{% block content %}  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <div class="container-grafico" >
  
      <canvas id="myChart1" class="col-12"></canvas>
  
      <canvas id="myChart2" class="col-12"></canvas>
  
      <canvas id="myChart3" class="col-12"></canvas>
  
      <canvas id="myChart4" class="col-12"></canvas>
  
      <canvas id="myChart5" class="col-12"></canvas>
  
      <canvas id="myChart6" class="col-12"></canvas>
  
  </div>
  
  
  
  
<script>
  
const empleoxciudad = document.getElementById('myChart1');

const salario = document.getElementById('myChart2');

const fechap = document.getElementById('myChart3');

const fechav = document.getElementById('myChart4');

const numvacantes = document.getElementById('myChart5');

const yearexp = document.getElementById('myChart6');





//Limpiando datos
let dataOld = '{{data}}'
dataOld = dataOld.replaceAll("&#39;", `"`)
dataOld = dataOld.replaceAll("datetime.date(", `"`)
dataOld = dataOld.replaceAll("),", `",`)
//Convertir a JSON
data = JSON.parse(dataOld);

//Ciudad
let datasetCiudad = mapToProp(data, 'Ciudad');
let dataCiudad = dataFormat(datasetCiudad)

//Salario
let datasetSalario = mapToProp(data, 'Salario');
let dataSalario = dataFormat(datasetSalario)

//Fecha Publicacion
let datasetFechaP = mapToProp(data, 'FechaPublicacion');
let datap = dataFechaFormat(datasetFechaP)

//Fecha de Vencimiento
let datasetFechaV = mapToProp(data, 'FechaVencimiento');
let datav = dataFechaFormat(datasetFechaV)

//Numero de Vacantes
let datasetVacantes = mapToProp(data, 'NumeroVacantes');
  let dataVacantes = dataFormat(datasetVacantes)

//Años de Experiencia
let datasetYExp = mapToProp(data, 'YearExp');
  let dataYear = dataFormat(datasetYExp)

//Grafico Empleo por ciudad
new Chart(
  empleoxciudad,
  {
    type: 'bar',
    data: {
      labels: dataCiudad.map(row => row.label),
      datasets: [
        {
          label: 'Empleo por Ciudades',
          data: dataCiudad.map(row => row.data)
        }
      ]
    }
  }
);

//Grafico Salario  
new Chart(
  salario,
  {
    type: 'doughnut',
    data: {
      labels: dataSalario.map(row => row.label),
      datasets: [
        {
          label: 'Salario',
          data: dataSalario.map(row => row.data)
        }
      ]
    }
  }
);

//Grafico fecha de publicacion y vencimiento
new Chart(
  fechap,
  {
    type: 'bar',
    data: {
      labels: datap.map(row => row.label),
      datasets: [
        {
          label: 'Fecha Publicacion',
          data: datap.map(row => row.data)
        }
      ]
    }
  }
);

//Grafico fecha de vencimiento
new Chart(
  fechav,
  {
    type: 'bar',
    data: {
      labels: datav.map(row => row.label),
      datasets: [
        {
          label: 'Fecha vencimiento',
          data: datav.map(row => row.data)
        }
      ]
    }
  }
);
//Grafico Numero de Vacantes
new Chart(
  numvacantes,
  {
    type: 'polarArea',
    data: {
      labels: ["Cantidad de Ofertas"],
      datasets: [
        {
          label: 'Numero de Vacantes',
          data: dataVacantes.map(row => row.data)
        }
      ]
    }
  }
);


new Chart(
  yearexp,
  {
    type: 'line',
    data: {
      labels: dataYear.map(row => row.label),
      datasets: [
        {
          label: 'Años de Experiencia',
          data: dataYear.map(row => row.data)
        }
      ]
    }
  }
);

function mapToProp(data, prop) {
  return data
    .reduce((res, item) => Object
      .assign(res, {
        [item[prop]]: 1 + (res[item[prop]] || 0)
      }), Object.create(null))
    ;
}

function dataFormat(data) {
  let newData = []
  for (let x in data) {
    let row = { "label": x, "data": data[x] };
    newData.push(row);
  }

  return newData
}


function dataFechaFormat(data) {
  let newData = []
  for (let x in data) {
    let fechaFormated = x;
    let row = { "label": fechaFormated.replaceAll(", ", "/"), "data": data[x] };
    newData.push(row);
  }
  return newData
}

</script>
{% endblock %}