* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000;
}

/* Login */
.body-login{
    background: #000000;
    /* Hero patterns */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23240bd9' fill-opacity='0.19'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;    
    overflow: hidden;
}

.form-box{
    width: 300px;
    padding: 40px;
    background: rgba(9, 1, 29, 0.959);
    text-align: center;
}

.form-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #3742fa;
    width: 200px;
    outline: none;
    color: #ffffff;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    width:280px ;
    border-color:#ffffff ;
    width:100%;
}

.form-box button[type="submit"]{
    border: 0;
    background: #5352ed;
    cursor: pointer;
    border: 2px solid #3742fa;
}

.form-box button[type="submit"]:hover{
    background: none;
    width:100%;
    font-size: 20px;
}

hr{
    margin-bottom: 20px;
    background: #ffffff;
}


/* layout */
body {
    background: #000000;
    color: #ffffff;
    background-color: #040109;
    /* Hero patterns */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23240bd9' fill-opacity='0.19'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.nav__link {
    color:#ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/* Navegacion */
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__logo{
    width: 100px;
    margin-top: 40px;
}

.nav-main ul{
    display: flex;
    margin-top: 80px;
    
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 5px;
    
}
.nav-main ul li a:hover{
    display: block;
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
}
.nav-main ul.nav__menu{
    flex: 1;
    margin-left: 20px;
    margin-top: 80px;
}



/* Gestion de datos (Tabla) */
/* Formulario */
.form-gestiondatos{
    width: 100%;
    margin: auto;
    background:#ddd;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius:7px ;
}
.form-tittle{
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
.form-gestiondato__input, .form-gestiondato__btn{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
.form-gestiondato__btn{
    background: #5352ed;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    border: 2px solid #3742fa;
}

.form-gestiondato__btn:hover{
    background: #0612f5;
    cursor: pointer;

}

.container-tabla{
   width: 100%;
   /* Limite */
   max-width: 2000px;
   margin: auto;
}
.tabla{
    width: 100%;
    border: 1px solid #cccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    background-color: #ddd;
}
.tabla-tittle{
    display: block;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0px 10px 0px;
    color: #ffffff;  
    }

.tabla tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.tabla th, .tabla td{
    font-size: 16px;
    padding: 8px;
    text-align: center;
    color: #000000;
}

.tabla thead th{
    text-transform: uppercase;
    background-color: #ddd;
}

.tabla tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.tabla tbody td:hover{
    background-color:rgba(0, 0, 0, 0.3); ;
}
.tabla-head__name:nth-child(5) .tabla-head__name:nth-child(6) .tabla-head__name:nth-child(8){
    display: inline-block;
}

/* Acerca de */
.acercade-tittle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.acercade-p{
    font-size: 20px;
   
}

@media screen and (max-width: 1320px){
    .form-gestiondatos{
        width: 100%;
    }
    .tabla{
        border: 0;
    }
    .tabla .tabla-tittle{
        font-size: 22px;
    }
    .tabla thead{
        display: none;
    }
    .tabla tr {
        margin: 8px;
        border: 4px solid #ddd;
        display: block;
    }
    .tabla th, .tabla td{
        font-size: 12px;
    }
    .tabla td{
        display: block;
        border-bottom:1px solid #ddd ;
        text-align: right;
    }
    .tabla td:last-child{
        border-bottom: 0px;
    }
    .tabla td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }

}